@font-face{
    font-family: 'Cambay-Regular';
    src: url('Cambay-Regular.ttf') format('truetype');
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: rgb(1, 26, 45);
    font-family: 'Cambay-Regular';
}
/****************HEADER*****************/
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    z-index: 10;
    background-color: rgb(1, 26, 45);
    justify-content: space-between;
    box-shadow: 0px 0px 3px 0px white;
}
header p img{
    width: 70px;
}
header .blocks1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
header .blocks1 li a{
    color: white;
}
header .blocks1 .blocks2 a:hover{
    transition: 1.5s;
    color: rgba(207, 184, 93, 0.963);
}
.nav-bar-images{
    display: none;
}
.menu-image, .close{
    width: 30px;
}
.nav-bar-link{
    position: absolute;
    width: 100%;
    top: 78px;
    right: 0;
    margin-right: -200%;
    display: flex;
    flex-direction: column;
    transition: 0.8s ease-in-out;
    background-color: rgba(1, 26, 45, 0.693);
    box-shadow: 0px 0px 3px 0px white;
}
.nav-bar-link ul li{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid white;
}
.nav-bar-link ul li a{
    color: white;
}
/***************ACCUEIL****************/
.content{
    padding: 30px;
}
.accueil{
    width: 100%;
    height: 100vh;
}
.accueil-title{
    color: rgba(207, 184, 93, 0.963);
    font-size: 2rem;
}
.accueil div{
    width: 55%;
    height: 100vh;
    font-size: 1.2rem;
    display: grid;
    align-content: center;
}
/*************HISTORIQUE**************/
.historique h2{
    margin-bottom: 10px;
    color: rgba(207, 184, 93, 0.963);
}
.historique h3{
    width: 100px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(207, 184, 93, 0.963);
}
.historique{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px white;
}
.bloc1 div p{
    padding-bottom: 20px;
}
/*************MISSION & VISION**************/
.bloc2{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    gap: 30px;
}
.mission h2, .vision h2{
    padding-bottom: 5px;
    color: rgba(207, 184, 93, 0.963);
}
.mission h3, .vision h3{
    width: 80px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(207, 184, 93, 0.963);
}
/*************OBJECTIFS**************/
.objectif{
    margin-top: 70px;
}
.objectif h2{
    padding-bottom: 10px;
    color: rgba(207, 184, 93, 0.963);
}
.objectif h3{
    width: 80px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(207, 184, 93, 0.963);
}
.bloc3 div p span{
    font-size: xx-large;
    color: rgba(207, 184, 93, 0.963);
}
.bloc3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*************SERVICES**************/
.service h2{
    padding-bottom: 10px;
    color: rgba(207, 184, 93, 0.963);
}
.service h3{
    width: 80px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(207, 184, 93, 0.963);
}
.bloc-display{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.bloc4 div,.bloc5 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}
.images{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
/*************OUR TEAM**************/
.team{
    margin-top: 70px;
}
.team p img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.team h4{
    color: rgba(207, 184, 93, 0.963);
}
.team h2{
    text-align: center;
    padding-bottom: 10px;
    color: rgba(207, 184, 93, 0.963);
}
.team h3{
    width: 80px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(207, 184, 93, 0.963);
}
.all-team{
    display: grid;
    justify-content: center;
}
.bloc6{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.bloc-two{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
/*************PRODUITS**************/
.produit{
    margin-top: 70px;
}
.produit h2{
    text-align: center;
    padding-bottom: 10px;
    color: rgba(207, 184, 93, 0.963);
}
.produit h3{
    width: 80px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(207, 184, 93, 0.963);
}
.slider{
    margin: 0 40px;
    height: 100%;
    overflow: hidden;
}
.image-items,.image{
    height: 100%;
    border-radius: 15px;
}
.image img{
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}
/*************FOOTER**************/
footer h4{
    color: rgba(207, 184, 93, 0.963);
}
.location div h4,.contact div h4, .email div h4{
    border-bottom: 2px solid rgba(207, 184, 93, 0.963);
}
footer a{
    text-decoration: none;
    color: white;
}
.bloc-general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-between;
}
.logo p img{
    width: 70px;
}
.media div a img{
    width: 20px;
}
.location div, .email div, .contact div, .media div{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact a, .email a{
    font-size: 16px;
}
.media div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.media div a:hover{
    opacity: 0.5;
    transition: 1.5s;
}
.scroll{
    position: fixed;
    right: 8px;
    bottom: 0;
    cursor: pointer;
}
.scroll p img{
    width: 35px;
}
/*************MEDIA QUERY**************/
@media all and (max-width: 970px){
    .accueil div{
        width: 100%;
    }
    .bloc3{
        display: flex;
        flex-direction: column;
    }
}
@media all and (max-width: 772px){
    .bloc2{
        display: flex;
        flex-direction: column;
        text-align: initial;
    }
    .bloc-display{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .vision{
        margin-top: 70px;
    }
    header{
        padding-left: 15px;
        padding-right: 15px;
    }
    header p img{
        padding-top: 8px;
        width: 60px;
    }
    .accueil div{
        font-size: 1rem;
    }
    .accueil-title{
        font-size: 1.8rem;
    }
    .content{
        padding: 15px;
    }
    .picture{
        width: 100%;
    }
    header .blocks1{
        display: none;
    }
    .nav-bar-images{
        display: initial;
        cursor: pointer;
    }
    .menu-image{
        display: block;
    }
    .close{
        display: none;
    }
    .menu .menu-image{
        display: none;
    }
    .menu .close{
        display: initial;
    }
    .menu{
        margin-right: 0;
    }
}
@media all and (max-width: 470px){
    .bloc4 div{
        gap: 10px;
    }
    .bloc-general{
        justify-content: center;
        display: grid;
    }
    .bloc-footer2{
        padding-top: 30px;
    }
}